# Configuration Firebase Cloud (Remplacez par vos clés depuis console.firebase.google.com)
   VITE_FIREBASE_API_KEY=AIzaSyDF25injYgsD__Kq3yihtgcsIy7DNlqltI
   VITE_FIREBASE_AUTH_DOMAIN=achaachaclo.firebaseapp.com
   VITE_FIREBASE_PROJECT_ID=achaachaclo
   VITE_FIREBASE_STORAGE_BUCKET=achaachaclo.firebasestorage.app
   VITE_FIREBASE_MESSAGING_SENDER_ID=1089791054529
   VITE_FIREBASE_APP_ID=1:1089791054529:web:98b7ad9e63b60a806a7a40


